@import url('https://fonts.googleapis.com/css2?family=Roboto;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    font-size: 18px;    
    flex-direction: column;
    height: 100vh;
    margin:0;
    /* overflow: hidden; */
}
ul {
    list-style: none;
    padding:0;
    margin:0; 
    display: flex; 
    gap: 15px;     
}
.upper{
    padding: 0 14%;
}
.cta {
    margin: 7% 14%;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.cta button {
    border: #F9FAF8 solid 2px;
}
.cta-head {
    font-size: 24px;
    font-weight: 900;
}
.cta-tail {
    font-size: 16px;
}

.rand, 
.Quotes {
    padding: 0 24%;
}
.upper {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.subtext,
.Footer, 
a {
    font-size: 18px;
}
a {
    list-style-type: none;
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

button, .cta {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.Quotes {
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #1F2937;
}

.Quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.Teller {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    padding-right: 10px;
    color: #1b232e;
}


.placeholder {
    background-color: #6d747d;
    width: 500px;
    height: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-shrink: 0;
}

.Footer {
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 120px;
}

.hero-container {
    display: flex;
    margin-bottom: 120px;
    gap: 30px;
}

.hero-part {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    margin-right: 0px;
    border-style: none;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.illustration {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: #3882F6 solid 5px;

}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-basis: 150px;
}

.some-random-text {
    text-align: center;
    color: #6d747d;
    font-size: 18px;
}

